.site-header {
  background: #FFEAAA;
}

/* REVIEW: Float the main header to the left, to make room for the hamburger menu. */
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu3 {
  float: right;
  font-size: 10vw;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media all and (min-width: 486px) {
  .icon-menu3 {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav li{
    display: inline-block;
    font-size: 3vw;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;

  }
}
@media all and (min-width: 780px) {
  .main-nav li{
    display: inline-block;
    font-size: 1.45em;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;

  }
}
